<div class="wrapper wrapper--footer row4 bgded overlay">
    <footer id="footer" class="hoc clear">
        <h3 class="heading">DTBD.com</h3>
        <nav>
            <ul class="nospace inline pushright uppercase">
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/terms">Terms</a></li>
            <li><a href="/privacy">Privacy</a></li>
            <li><a href="/cookies">Cookies</a></li>
            <li><a href="/disclaimer">Disclaimer</a></li>
            </ul>
        </nav>
        
        <ul class="faico clear">
            <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
        </ul>

        {{!-- JAVASCRIPTS --}}
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/jquery.backtotop.js"></script>
        <script src="/assets/js/jquery.mobilemenu.js"></script>
        <script src="/assets/js/jquery.flexslider-min.js"></script>
        <script src="/assets/js/app.js"></script> 
        {{!-- <script src="./public/assets/js/{{script}}.js"></script>  --}}
    
        {{!-- HANDLEBARS FOOTER INJECTION- add custom scripts by page--}} {{#> scripts-block}}{{/scripts-block}}

    </footer>
</div>
<div class="wrapper row5">
    <div id="copyright" class="hoc clear">
    <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">DTBD.com</a></p>
    </div>
</div>
