 <div class="flexslider basicslider">
        <ul class="slides">
          <li>
            <article>
              <!-- <p>Egestas</p> -->
              <h3 class="heading">Find your wedding team!!</h3>
              <p>It is the day All for you.</p>
              <footer>
                <form class="group" method="post" action="#">
                  <fieldset>
                    <legend>Sign-Up:</legend>
                    <input type="text" value="" id="searhInput" placeholder="Local Vendors &hellip;">
                    <button class="fa fa-sign-in" id="searchSubmit" type="submit" title="Submit"><em>Submit</em></button>
                  </fieldset>
                </form>
              </footer>
            </article>
          </li>
          <li>
            <article>
              <h3 class="heading">To be a special member</h3>
              <p>pay less more happy</p>
              <footer><a class="btn inverse" href="/register">Join</a></footer>
            </article>
          </li>
        </ul>
      </div>