  <div id="introblocks">
        <ul class="nospace group">
          <li class="one_third first">
            <article>
              <div>
                <!-- <h6 class="heading">1</h6> -->
                <h2>Wedding Photographers</h2>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <p>We got married this past October and were so pleased with both the photographer and the company.
                  I had 3 months to get everything to get and had no idea what I was doing. [&hellip;]</p>
              </div>
              <img src="./Images/review_1.jpg" alt="reviewer_1">
              <!-- <footer><a href="#">More Details</a></footer> -->
            </article>
          </li>
          <li class="one_third">
            <article>
              <div>
                <!-- <h6 class="heading">2</h6> -->
                <h2>Events & Design</h2>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <p>I cannot believe how lucky I got with Rachel. She was so detail oriented,
                  kept everyone on time, and managed the wedding like an all star.
                  She helped me to be more organized and also helped with finalizing all the minor details. [&hellip;]</p>
              </div>
              <img src="./Images/review_2.jpg" alt="reviewer_2">
              <!-- <footer><a href="#">More Details</a></footer> -->
            </article>
          </li>
          <li class="one_third">
            <article>
              <div>
                <!-- <h6 class="heading">3</h6> -->
                <h2>Ashton Gardens</h2>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <p>I got married here last Saturday noon!
                  I’m still on a wedding high! Everything was great from venue to food to coordinator Christiana!
                  Everything was wonderful and beautiful! Guest are still speaking on the wedding!!! [&hellip;]</p>
              </div>
              <img src="./Images/review_3.jpg" alt="reviewer_3">
              <!-- <footer><a href="#">More Details</a></footer> -->
            </article>
          </li>
        </ul>
      </div>