<!doctype html>
<html>
  <head>
    <title> {{title}} </title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <link href="./assets/styles/layout.css" rel="stylesheet" type="text/css" media="all">
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
      <link href="https://fonts.googleapis.com/css?family=Leckerli+One|Oleo+Script|Questrial" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="./assets/styles/main.css" rel="stylesheet" type="text/css"> 
      {{!-- Handlebars custom <HEAD> content injection --}} {{#> head-block}} {{/head-block}}

  </head>
  <body>
    {{> header }}
    {{{body}}} 
    {{> footer }}
  </body>
</html>