
 {{!-- add stylesheets unique to this page --}}
  {{#*inline "head-block"}}
    <link rel="stylesheet" href="/public/assets/styles/pages/home.css">
  {{/inline}}

   <div id="changeBack" class="bgded overlay slider_container" style="background: url(../../Images/wedding-bride-1600.jpg) 0% 0% / 100% 100%;
  ">
        <div class="wrapper row1">
          <div id="pageintro" class="hoc clear">

          {{!-- Global Hero Slider Partial (partials/hero-slider.handlebars) --}}
          {{>hero-slider }}
        </div>
      </div>
    </div>

  <div class="wrapper row3 coloured">
    <main class="hoc container clear">
        {{!-- Global Reviews Partial (partials/reviews.handlebars) --}}
        {{>reviews }}
      <p class="center"><a class="btn inverse" href="/gallery">See More</a></p>
      <div class="clear"></div>
    </main>
  </div>

