{{title="Date to be Determined Home" }}

 {{!-- add stylesheets unique to this page --}}
  {{#*inline "head-block"}}
    <link rel="stylesheet" href="./public/assets/styles/pages/home.css">
  {{/inline}}

   <div id="changeBack" class="bgded overlay slider_container">
        <div class="wrapper row1">
          <div id="pageintro" class="hoc clear">

          {{!-- Global Hero Slider Partial (partials/hero-slider.handlebars) --}}
          {{>hero-slider }}
        </div>
      </div>
    </div>

  <div class="wrapper row3 coloured">
    <main class="hoc container clear">
        {{!-- Global Reviews Partial (partials/reviews.handlebars) --}}
        {{>reviews }}
      <p class="center"><a class="btn inverse" href="#">SEE ALL WINNERS</a></p>
      <div class="clear"></div>
    </main>
  </div>

{{!-- add scripts unique to this page --}}
{{!-- {{#*inline "scripts-block"}}
   <script src="./public/assets/js/login.js"></script>
{{/inline}} --}}
