
 {{!-- add stylesheets unique to this page --}}
  {{#*inline "head-block"}}
    <!--<link rel="stylesheet" href="/assets/styles/pages/login.css">-->
  {{/inline}}


<div class="wrapper--form">
  {{!-- Global Login Form Partial (partials/form-login.handlebars) --}}
  {{>form-login }}
</div>

{{!-- add scripts unique to this page --}}
{{#*inline "scripts-block"}}
   <script src="/public/assets/js/login.js"></script>
{{/inline}}
