
 {{!-- add stylesheets unique to this page --}}
{{#*inline "head-block"}}
    <link rel="stylesheet" href="./public/assets/styles/pages/register.css">
{{/inline}}


<div class="wrapper--form">
     {{!-- Global Register Form Partial (partials/form-register.handlebars) --}}
     {{>form-login }}
</div>

{{!-- add scripts unique to this page --}}
{{#*inline "scripts-block"}}
   <script src="./public/assets/js/register.js"></script>
{{/inline}}