@import '../sass/variables';
@import "../sass/partials/slider";
@import "../sass/partials/reviews";

/*CUSTOM HOME STYLES*/

img {
    width: 310px;
    height: 210px;
}

.checked {
    color: orange;
}


